[submodule "ChEMBL_notebooks"]
	path = ChEMBL_notebooks
	url = https://github.com/UmbrellaLeaf5/DrugDesign_ChEMBL_notebooks
[submodule "PubChem_notebooks"]
	path = PubChem_notebooks
	url = https://github.com/UmbrellaLeaf5/DrugDesign_PubChem_notebooks
[submodule ".extra/doxygen/theme"]
	path = .extra/doxygen/theme
	url = https://github.com/jothepro/doxygen-awesome-css
